@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body {
    color:white;
    font-family: "Red Hat Mono", monospace;
}

.navbar-brand{
    font-size: 3rem;
    font-weight: 500;
    font-family: "Monofett", monospace;
    font-weight: 50;
    color: white;
}

.navbar-nav{
    padding-right: 10%;
}

.nav-link{
    font-size: 1.5rem;
}

.footer{
    height: 50px;
}

.login-container{
    width: 100%;
    justify-content: center;
    margin-top: 145px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}

h3{
    margin-bottom: 40px;
    color: white;
    font-family: "Red Hat Mono", monospace;
    font-size: 1.9rem;
}

.last-group{
    margin-bottom: 60px;
    margin-top: 50px;
}

.login-bt-container{
    text-align: center;
}