{% extends "base.html" %}
{% block content %}

<div class="login-container justify-content-center bg-dark">
    <div>
       <h3 class="text-center">
        {{ username }}'s Dashboard
       </h3>
    </div>
</div>

<div class="container bg-dark dashboard-options">
    <div class="row">
        <h4 class="col text-center"><a href="#" id="add-workout"><i class="fa fa-plus" aria-hidden="true"></i> Add Workout</a></h4>
        <h4 class="col text-center"><a href="#" id="view-workouts"><i class="fa fa-heart-o" aria-hidden="true"></i> View Workouts</a></h4>
    </div>
</div>

<!-- View Workouts-->
<div id="workouts-container" style="display:none;">
    <div class="container bg-dark workout-head">
        <h4 class="text-center">Your Workouts</h4>
    </div>
    <div id="workouts-list" class="row">
        {% for workout in workouts %}
            <div class="col-md-6 col-lg-6 mb-4">
                <div class="your-workout-container bg-dark p-3 text-white">
                    <h5>{{ workout.workout_name }}</h5>
                    <p>{{ workout.workout_type }}</p>
                    {% for exercise in workout.exercises %}
                        <p>{{ exercise.exercise_name }}: {{ exercise.sets }} sets, {{ exercise.reps }} reps</p>
                    {% endfor %}
                    <div class="row">
                        <a href="{{ url_for('edit_workout', workout_id=workout.id) }}" class="edit-button col">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Edit Workout
                        </a>
                        <form action="{{ url_for('delete_workout', workout_id=workout.id) }}" method="POST" class="delete-form col">
                            <button type="submit" class="btn btn-link delete-button">
                                <i class="fa fa-minus" aria-hidden="true"></i> Delete Workout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Add Workouts-->
<div id="add-workout-container" class="container bg-dark mt-4" style="display:none;">
    <h4 class="text-center">Add New Workout</h4>
    <form id="add-workout-form" method="POST" action="{{ url_for('add_workout') }}">
        <div class="form-group">
            <label for="workout_name">Workout Name</label>
            <input type="text" class="form-control" id="workout_name" name="workout_name" required>
        </div>
        <div class="form-group">
            <label for="workout_type">Workout Type</label>
            <select class="form-control" id="workout_type" name="workout_type" required>
                <option value="Strength">Strength</option>
                <option value="Hypertrophy">Hypertrophy</option>
                <option value="Conditioning">Conditioning</option>
                <option value="Functional">Functional</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div id="exercises-container">
            <div class="exercise form-group">
                <h5>Exercise 1</h5>
                <label for="exercise_name_0">Exercise Name</label>
                <input type="text" class="form-control" id="exercise_name_0" name="exercise_name[]" required>
                <label for="sets_0">Sets</label>
                <input type="number" class="form-control" id="sets_0" name="sets[]" required>
                <label for="reps_0">Reps</label>
                <input type="number" class="form-control" id="reps_0" name="reps[]" required>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" id="add-exercise-button">Add Exercise</button>
        <button type="submit" class="btn btn-primary">Add Workout</button>
    </form>
</div>

{% endblock %}