{% extends "base.html" %}
{% block content %}

<div class="login-container justify-content-center bg-dark">
    <h3 class="text-center">Login</h3>
    <form method="POST" action="{{ url_for('home') }}">
        <div class="form-group">
            <label for="usernameinput" class="text-white">Username</label>
            <input type="text" class="form-control bg-dark" id="usernameinput" name="username" placeholder="Username" required>
        </div>
        <div class="form-group last-group">
            <label for="passwordinput" class="text-white">Password</label>
            <input type="password" class="form-control bg-dark" id="passwordinput" name="password" placeholder="Password" required>
        </div>
        <div class="login-bt-container">
            <button class="btn btn-outline-success my-2 my-sm-0 login-button justify-content-center text-center" type="submit">Login</button>
        </div>
    </form>
</div>

{% endblock %}